.container.p-3.bg-primary.text-white.border.border-warning
    .row
        .col-sm Company logo
        .col-sm
            .container#menu
                a(href="#").col-sm  Home
                a(href="#").col-sm  Home
                a(href="#").col-sm  Home
                a(href="#").col-sm  Home
                a(href="#").col-sm  Home
                
