.container.p-3.bg-primary.text-white#tool
    .row
        .col-sm.logo Company logo
        .col-sm-8
            .container#menu
                a(href="#").col-sm  Home
                a(href="#").col-sm  Shopping
                a(href="#").col-sm  Returns
                a(href="#").col-sm  Feedback
                a(href="#").col-sm  Contact us
                
